/* styles.module.css */

.scroll-section-inner {
  height: 100vh;
  width: 400vw;
  display: flex;
  flex-direction: row;
  position: relative;
  overflow-x: auto;
  white-space: nowrap;
}

/* Добавим медиа-запрос для мобильных устройств */
@media (max-width: 640px) {
  .scroll-section-inner {
    width: 100vw;
    overflow-x: hidden; /* Отключим горизонтальную прокрутку */
    white-space: normal; /* Вернем обычное перенос текста */
    flex-direction: column; /* Изменяем направление на вертикальное */
  }
}
