@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
* {
  padding: 0;
  margin: 0;
}

.opacityan {
  opacity: 0;
  touch-action: none;
  animation: fade-in 2s ease 1s forwards;
}

canvas {
  opacity: 0;
  touch-action: none;
  animation: fade-in 2s ease 1s forwards;
}

body::-webkit-scrollbar {
  display: none
}

.progress-bar {
  transform-origin: 0%;
}

.scroll-sidebar {
  overflow-x: scroll;
}

::-webkit-scrollbar-x {
  width: 8px; 
  
}
::-webkit-scrollbar-thumb {
  background: rgb(129, 129, 129); 
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
@font-face {
  font-family: helvetica;
  src: url(../public/fonts/Helvetica\ Now\ Display\ Bold.woff2);
}
@font-face {
  font-family: strelka;
  src: url(../public/fonts/StrelkaUltra.otf);
}

@font-face {
  font-family: allerta;
  src: url(../public/fonts/Allerta-Regular.ttf);
}

@font-face {
  font-family: galder;
  src: url(../public/fonts/GalderGlynn.ttf);
}

@font-face {
  font-family: galderbold;
  src: url(../public/fonts/Galderglynn1884-Bold.ttf);
}

@font-face {
  font-family: galderregular;
  src: url(../public/fonts/Galderglynn-Regular.ttf);
}
.galderregular {
  font-family: galderregular;
}

.galderbold {
  font-family: galderbold;
}

.helvetica {
  font-family: helvetica;
}

.galder {
  font-family: galder;
}

.allerta {
  font-family: allerta;
}


.strelka {
  font-family: strelka;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

::selection {
  color: black; 
}

.none-pointer {
  pointer-events: none;
}

.loader {
  animation: fade-in 2s ease 1s forwards;
}

@keyframes slideIn {
  from {
    transform: translateX(100vw); 
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.scrollBar_arrow {
  display: none
}

@media(min-width: 640px) {
  .scrollBar_arrow {
      display:flex;
      column-gap: 5px;
      transition-property: opacity;
      transition-duration: .3s;
      transition-timing-function: cubic-bezier(0.3, 0.1, 0.1, 1)
  }
}

.scrollBar_arrow .arrow {
  color: red;
  font-size: 90px;
  animation-name: arrow-attention;
  animation-duration: 1.8s;
  animation-iteration-count: infinite;
  animation-play-state: running
}

.scrollBar.scrolling .scrollBar_arrow {
  opacity: 0
}

@keyframes arrow-attention {
  0% {
      opacity: 0;
      transform: translate3d(-50%, 0, 0);
      transition-timing-function: cubic-bezier(0.1, 0.4, 0.2, 1)
  }

  25% {
      opacity: 1;
      transform: translate3d(0, 0, 0);
      transition-timing-function: cubic-bezier(0.1, 0.4, 0.2, 1)
  }

  60% {
      opacity: 1;
      transform: translate3d(0, 0, 0);
      transition-timing-function: cubic-bezier(0.1, 0.4, 0.2, 1)
  }

  100% {
      opacity: 0;
      transform: translate3d(100%, 0, 0);
      transition-timing-function: cubic-bezier(0.4, 0.1, 0.2, 1)
  }
}

.container {
  width: 600vw;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
}

.panel {
  width: 100vw;
  height: 100vh;
}

.custom-canvas {
  width: 945px;
  height: 945px;
}

@media screen and (max-width: 600px) {
  .custom-canvas {
    width: 300px; /* Установите размер для мобильных устройств */
    height: 300px; /* Установите размер для мобильных устройств */
  }
}